/* General Styles */
.App-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(25, 4, 93);
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Page Container */
.container {
  flex: 1;
  padding: 20px;
  background: rgb(25, 4, 93);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0130;
  padding: 15px 30px;
}

.navbar h2 {
  margin: 0 auto 0 0;
}

.logo img {
  height: 30px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4e5bed;
}

/* Featured Products */
.featured {
  margin-top: 40px;
}

.featured h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  border-radius: 5px;
}

.product p {
  margin-top: 10px;
  font-size: 16px;
}

.logout-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: white;
  color: #333;
}

/* User Icon */
.user-menu {
  position: relative;
  display: inline-block;
}

.user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.user-icon:hover {
  background-color: #4e5bed;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #0c0130;
  border: 1px solid #4e5bed;
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-menu a,
.dropdown-menu button {
  color: white;
  background: none;
  border: none;
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-menu button:hover {
  color: #4e5bed;
}



/* Footer */
.footer {
  background: #0c0130;
  color: white;
  text-align: center;
  padding: 15px;
}

.footer p {
  margin: 0 0 10px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #0056b3;
}
